h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 210201039-02. Desarrollar desde los fundamentos conceptuales en la orientación para lideres con talento el autodesarrollo y liderazgo personal.






