.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Autodiagnóstico: 
            | análisis de las debilidades y fortalezas de una persona con relación a su perfil laboral, profesional y personal. 
        hr

        p
            strong.mr-2 Competencia laboral: 
            | capacidad productiva de una persona medida en términos de desempeño.

        hr

        p
            strong.mr-2 Estrategia: 
            | acciones encaminadas a la ejecución de actividades para alcanzar metas y objetivos personales. 

        hr

        p
            strong.mr-2 Funciones: 
            | acciones o actividades que desempeña un funcionario en una empresa u organización, definidas en un manual. 

        hr 
        
        p
            strong.mr-2 Plan de acción: 
            | actividades planificadas para conseguir las metas y objetivos establecidos a nivel organizacional y personal. 