.container

    .header-ecored
        h1 4.	Liderazgo personal 


    .card.mb-5
        img.card-img-top(src='assets/images/pages/tema-1/portada.jpg')
        .card-body
            p En la vida cotidiana existen diversos estilos de liderazgo aplicados a las empresas, en los deportes, en las instituciones educativas, en el hogar, pero ¿qué tipo de liderazgo es el personal? Es un interrogante para realizar cuando el objetivo principal es saber cómo la persona puede ejercer un control sobre sí misma.

            .quote.mt-4.mb-4
                .quote__bar   
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_01.svg")
                    .quote__bar__hr
                .quote__text
                    p.mb-0 “Una buena forma de entender qué es el liderazgo personal es imaginarnos una persona que rebosa seguridad, confianza, decisión y asertividad, y que aplica esas competencias en su vida profesional y personal. Son las mismas competencias que definen a un líder de equipos, pero aplicadas a uno mismo. Supone tomar el control de nuestra propia vida, ser autónomo para decidir lo que te parece que está bien hacer y lo que no, tomar decisiones de forma correcta y segura” (García, B. y Martín, L., s.f.).
                .quote__bar 
                    .quote__bar__hr
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_02.svg")

            p.mt-0.pt-0 El liderazgo personal, de acuerdo con la anterior definición, busca que las diversas habilidades, aptitudes y competencias que tiene un líder en un grupo sean aplicadas en su proyecto de vida, es decir, ejerciendo un control al autodesarrollo.
 
            p.mt-4 Un buen líder debe tener claro su proyecto de vida, basado en objetivos claros y medibles, que permitan la planificación de actividades y la ejecución, control y evaluación en procura de la mejora personal.


    .header-ecored
        h2 4.1 Interrogantes a tener en cuenta en el liderazgo personal 

    section.mt-7
        .shadow-sm 
            .card.mb-0
                .card-body

                    .avatar.avatar-xxl.card-avatar.card-avatar-top(style="width:115px; height:115px")
                        img(src="assets/images/pages/tema-1/question.svg").avatar-img

                    .row.justify-content-center.align-items-center.px-5
                        .col-12.col-md-auto
                            p.text-center
                                img(src="assets/images/pages/tema-4/q41.svg", alt="")

                        .col-12.col-md

                            ul.bg-color-light.my-5
                                li
                                    span ¿Para qué es nuestra vida?
                                li
                                    span ¿Qué visión tiene proyectada una persona en la vida?
                                li
                                    span ¿Se han definido objetivos personales en tu vida?
                                li
                                    span ¿Qué capacidades tienes para alcanzar los objetivos propuestos?
                                li
                                    span ¿Realizas un plan de acción para los objetivos propuestos?
                                li
                                    span ¿Cómo controlas las actividades programadas en tu vida o no programas?
                                li
                                    span ¿Realizas planes de mejora para las actividades mal ejecutadas?
                                li
                                    span ¿Cómo replanteas las decisiones frente a las mal tomadas?


            .box-gradiente-verde.mt-0.mb-5
                .container
                    p.p-5 De acuerdo con los interrogantes anteriores pueden surgir muchas respuestas que requieren del análisis y capacidad de cada persona, y que permitan establecer un estilo de liderazgo acorde al plan de acción a ejecutar.

    .header-ecored
        h2 4.2 Tips para mejorar el liderazgo personal 

    p Es posible mejorar en todos los aspectos para fortalecer el liderazgo personal, algunos de ellos son los siguientes:

    .jumbotron.bg-white.my-5

        .row.justify-content-center.align-items-center
            .col-12.col-md.order-2.order-md-1
                ul.bg-color-light
                    li
                        span Tener claras las debilidades y fortalezas como ser humano, profesional y trabajador.
                    li
                        span Establecer un proyecto de vida con metas claras. 
                    li
                        span Escribir las metas y definirles un plan de acción. 
                    li
                        span Conocer cuál es el objetivo de tu trabajo o empleo en una empresa u organización. 
                    li
                        span Ser responsable de los actos y consecuencias de las activides a ejecutar para la consecución de metas.
                    li
                        span Definir las causas que generan un problema para encontrar soluciones y no culpables. 
                    li
                        span Definir un plan de capacitación fundamental para adquirir conocimientos que permitan mejorar el perfil profesional y laboral.
                    li
                        span Definir, para las metas trazadas, actividades, secuencia, responsables y lugares de ejecución de las actividades.
                    li
                        span Definir un plan de control y seguimiento a las actividades definidas en el plan de acción personal.
                    li
                        span Realizar un plan de mejora para las actividades que garantice el cumplimiento de metas trazadas. 
            .col-12.col-md-auto.order-1.order-md-2
                p.text-center
                    img(src="assets/images/pages/tema-4/tips.svg", alt="")