.container

    .header-ecored
        h1 5.	Funciones del líder moderno


    .card.mb-5
        img.card-img-top(src='assets/images/pages/tema-5/portada.jpg')
        .card-body
            p El líder moderno es un competidor con habilidades para apoyar a la empresa en el cumplimiento de la misión y alcanzar los objetivos a través de la visión, algunas de sus funciones son planificar, tomar decisiones, delegar funciones, saber comunicar, generar estrategias y alcanzar metas y objetivos para una empresa u organización.


    .row.align-items-center.justify-content-center.my-5
        .col-12.col-md-auto
            p.text-center
                img(src="assets/images/pages/tema-5/t5.svg", alt="")
        
        .col-12.col-md
            
            #acordionClaves.accordion
                .card
                    #headingOne.card-header
                        h3.mb-0
                            button.pl-0.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                h3.mb-0.collapsable-title 5.1 Planificación 
                    #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#acordionClaves')
                        .card-body
                            p En una empresa se establecen objetivos estratégicos y es parte del líder desarrollar un plan de acción que permita a la compañía alcanzar el logro de los objetivos.  
                            p.mt-4 La planificación surge de la identificación de un problema que requiere de un análisis de causa-efecto para establecer estrategias de solución, que requiere de la programación secuencial de actividades para alcanzar la estrategia y el objetivo propuesto.

                .card
                    #headingTwo.card-header
                        h3.mb-0
                            button.pl-0.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                h3.mb-0.collapsable-title 5.2 Toma de decisiones 
                    #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#acordionClaves')
                        .card-body
                            p En las organizaciones se presentan conflictos, problemas o diversas situaciones que necesitan del análisis, diagnóstico y toma de decisiones por parte de una persona competente que analice datos, información, indicadores y evidencias confiables, que permitan tomar las mejores decisiones para la mejora de los procesos y funciones que desempeñan los trabajadores en la organización.

                .card
                    #headingThree.card-header
                        h3.mb-0
                            button.pl-0.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                h3.mb-0.collapsable-title 5.3 Delegar funciones  
                    #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#acordionClaves')
                        .card-body
                            p Significa ceder las actividades que le corresponden a un trabajador a otra persona con iguales o mejores competencias, debido a que en las empresas no debe existir una sola forma de hacer las cosas, que los trabajadores tienen diversas perspectivas para realizar un procedimiento y aportar a su objetivo.
                            p.mt-4 Cuando se delegan funciones se multiplican esfuerzos para lograr los resultados esperados por la organización. 

                .card
                    #heading4.card-header
                        h3.mb-0
                            button.pl-0.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse4', aria-expanded='false', aria-controls='collapse4')
                                h3.mb-0.collapsable-title 5.4 Brindar soporte y evaluación 
                    #collapse4.collapse(aria-labelledby='heading4', data-parent='#acordionClaves')
                        .card-body
                            p El soporte en un líder significa la asesoría, apoyo que puede ofrecer a los trabajadores de una empresa durante el proceso de planificación, el acompañamiento en la ejecución de actividades y consecución de objetivos.
                            p.my-4 La evaluación es el proceso mediante el cual el líder verifica el cumplimiento de la ejecución de actividades con base en la planeación, donde la mejora juega un papel importante, se tienen en cuenta las experiencias, falencias y decisiones mal tomadas, de tal manera que permitan corregir y alcanzar el logro de los objetivos estratégicos.
                            p El líder moderno debe adaptarse a los cambios que también presentan las organizaciones, el mercado, los clientes y la influencia tecnológica, que permita a las empresas contar con personas competentes y con habilidades diferenciadoras capaces de llevar a la organización al cumplimiento de su misión y visión.  