.container

    .header-ecored
        h1 2. Manual de funciones y competencias laborales  


    .card.mb-5
        img.card-img-top(src='assets/images/pages/tema-2/portada.jpg')
        .card-body
            p Con base en la estructura jerárquica u organigrama de una empresa es importante consultar o elaborar el manual de funciones y competencias laborales, que permita a los trabajadores obtener la información escrita de las funciones y responsabilidades que deben realizar en el interior de la compañía.

            .quote.my-5
                .quote__bar   
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_01.svg")
                    .quote__bar__hr
                .quote__text
                    p.mb-0 “El Manual específico de funciones y de competencias laborales es una herramienta de gestión de talento humano que permite establecer las funciones y competencias laborales de los empleos que conforman la planta de personal de las instituciones públicas; así como los requerimientos de conocimiento, experiencia y demás competencias exigidas para el desempeño. De igual manera, es un insumo importante para la ejecución de los procesos de planeación, ingreso, permanencia y desarrollo del talento humano al servicio de las organizaciones públicas” (Departamento Administrativo de la Función Pública, s.f.).
                .quote__bar 
                    .quote__bar__hr
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_02.svg")


    .header-ecored
        h2 2.1	Estructura el manual de funciones 

    p Los componentes básicos que forman parte del manual de funciones y competencias son los siguientes: 

    .row.align-items-center.justify-content-center.my-5
        .col-auto
            figure
                img(src="assets/images/pages/tema-2/p1.svg", alt="")
        
        .col
            
            .bg-brand-color-secondary
                hr.line-100.bg-brand-color-dark
                .p-4
                    p #[strong 1.	Identificación y ubicación del cargo] 

                    p Se compone de información referente al cargo, área de la empresa que pertenece y cargo del jefe inmediato.
           
                hr.line-100.bg-brand-color-dark

    .row.align-items-center.justify-content-center.my-5
        .col-auto
            figure
                img(src="assets/images/pages/tema-2/p2.svg", alt="")
        
        .col
            
            .bg-brand-color-secondary
                hr.line-100.bg-brand-color-dark
                .p-4
                    p #[strong 2.	Propósito general] 

                    p En este aspecto del manual se expresa la función principal del cargo o empleo que ocupa en la empresa en forma de objetivo general. 

                hr.line-100.bg-brand-color-dark

    .row.align-items-center.justify-content-center.my-5
        .col-auto
            figure
                img(src="assets/images/pages/tema-2/p3.svg", alt="")
        
        .col
            
            .bg-brand-color-secondary
                hr.line-100.bg-brand-color-dark
                .p-4
                    p #[strong 3.	Funciones y responsabilidades ]
                    
                    p En este campo se describen una a una las funciones que deben desarrollar el empleado o trabajador de la empresa, dejando claro cuáles son sus responsabilidades para cumplir.           
                hr.line-100.bg-brand-color-dark

    .row.align-items-center.justify-content-center.my-5
        .col-auto
            figure
                img(src="assets/images/pages/tema-2/p3.svg", alt="")
        
        .col
            
            .bg-brand-color-secondary
                hr.line-100.bg-brand-color-dark
                .p-4
                    p #[strong 4.	Requisitos  ]
                    
                    p En este campo se definen criterios como conocimientos básicos para la ocupación del cargo, educación formal requerida y experiencia acreditada para el cargo. 

                hr.line-100.bg-brand-color-dark

    .row.align-items-center.justify-content-center.my-5
        .col-auto
            figure
                img(src="assets/images/pages/tema-2/p3.svg", alt="")
        
        .col
            
            .bg-brand-color-secondary
                hr.line-100.bg-brand-color-dark
                .p-4
                    p #[strong 5.	Competencias comportamentales   ]
                    
                    p Definen la actitud, aptitud y comportamiento frente al cargo, son habilidades que muestran desempeños superiores o especiales frente al trabajo a desarrollar algunos ejemplos son: proactividad, entusiasmo, rigurosidad, flexibilidad, innovación y liderazgo. 
                             
                hr.line-100.bg-brand-color-dark

    p.mt-5 De acuerdo con la información entregada por el manual de funciones, un coordinador de área en su condición de líder recoge respuestas como el cargo que ocupa un trabajador, funciones y responsabilidades que le son asignadas en una empresa, qué estudios formales y no formales debe tener el empleado y la experiencia requerida, además de las aptitudes y actitudes necesarias para el desarrollo normal del cargo.
    
    p El conocimiento general de la empresa a través de la plataforma estratégica, además del conocimiento de las funciones y responsabilidades, permite al líder o coordinador de área establecer diagnósticos, planeación, evaluación y toma de decisiones frente al comportamiento y desempeño de los trabajadores.
